[submodule "ocaml/sorts"]
	path = ocaml/sorts
	url = https://github.com/mdgeorge4153/sorts.git
[submodule "c/lfs"]
	path = c/lfs
	url = https://github.com/mdgeorge4153/lfs.git
[submodule "java/fabric"]
	path = java/fabric
	url = https://github.com/apl-cornell/fabric.git
[submodule "java/jalgebra"]
	path = java/jalgebra
	url = https://github.com/mdgeorge4153/jalgebra.git
[submodule "js/jamcircle"]
	path = js/jamcircle
	url = https://github.com/mdgeorge4153/jamcircle.git
